/** @format */

* {
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
}

.home .form{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid lightgray;
  height: 100vh;
}

.form input{
  height: 30px;
  width: 300px;
  padding: 5px;
  font-size: 16px;
  margin-bottom: 6px;
}

.form button{
  height: 40px;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
}